name: Bazel CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bazel_build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.8.1 # Or another suitable action for Bazel setup
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Bazel Test
        run: bazelisk test //..
